@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,800&family=Poppins:wght@100;200;300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Variáveis globais para os temas */
  /* Paleta de cores Soft Pastels */
  :root {
  /* Tema claro */
  --text-light: #000000;
  --background-light: #e5fcff;
  --primary-light: #3d5a80; /* Azul escuro suave */
  --secondary-light: #98c2d3; /* Azul claro */
  --accent-light:  #3d5a80;

  /* Tema escuro - modificado */
  --text-dark: #f0f0f0; /* Texto claro contrastante */
  --background-dark: #121212; /* Fundo muito escuro, quase preto */
  --primary-dark: #1e3a8a; /* Azul escuro mais saturado */
  --secondary-dark: #bb86fc; /* Roxo suave */
  --accent-dark: #1e3a8a; /* Pink vibrante */
}

/* Tema claro */
.light {
  --text: var(--text-light);
  --background: var(--background-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --accent: var(--accent-light);
}

/* Tema escuro */
.dark {
  --text: var(--text-dark);
  --background: var(--background-dark);
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --accent: var(--accent-dark);
}

  /* Corpo da página */
  body {
    font-family: "Archivo", sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  /* Cabeçalho */
  header {
    background-color: var(--primary);
    color: var(--text);
    padding: 16px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Estilos do gradiente no cabeçalho */
  .header-gradient {
    background: linear-gradient(135deg, var(--primary) 40%, var(--secondary) 100%);
  }

  /* Definindo cores principais para texto e fundo */
  .bg-main-background {
    background-color: var(--background);
  }

  .text-main-text {
    color: var(--text);
  }

  /* Fonte dos títulos */
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
  }

  /* Links e bordas interativas */
  a {
    text-decoration: none;
    color: var(--primary);
    transition: color 0.3s ease;
  }

  a:hover {
    color: var(--accent);
  }

  /* Borda para inputs e outros elementos */
  input, textarea, select {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
  }

  input:focus, textarea:focus, select:focus {
    border-color: var(--primary);
    outline: none;
  }

  /* Estilos de overflow */
  * {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  
}
